body {
  background-color: #ffffff;
}
.page-header {
  background-color: #ffffff;
}
.page-footer {
  background-color: #2e2f42;
}
.header-logo {
  color: #2e2f42;
}
.logo-span {
  color: #4d5ae5;
}
.footer-logo {
  color: #ffffff;
}
.logo-span {
  color: #4d5ae5;
}
