/*logo  #4D5AE5 #F4F4FD  or  #4D5AE5 #2E2F42 */
/*основной цвет  #2E2F42 */
/*вторичный цвет  #434455 */
/*цвет текста футера  #F4F4FD */
/*секция Our Team   #F4F4FD */
/*футер #2E2F42 */
/*цвет кнопки  #404BBF */

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* НАВИГАЦИЯ */
.page-nav a {
  color: #2e2f42;
  width: 48px;
  height: 24px;
}
.page-nav a:active {
  color: #404bbf;
}
/* АДРЕСС */
.header-address a {
  font-style: normal;
  color: #434455;
}
.header-address a:active {
  color: #404bbf;
}
.page-header {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.header-nav > a {
}
/* ЛОГОТИП */
.header-logo {
  font-family: 'Raleway', sans-serif;
  color: #2e2f42;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  width: 71px;
  height: 21px;
  color: #ffffff;
}
.logo-span {
  font-family: 'Raleway', sans-serif;
  width: 44px;
  height: 21px;
  color: #4d5ae5;
}
