/*logo  #4D5AE5 #F4F4FD  or  #4D5AE5 #2E2F42 */
/*основной цвет  #2E2F42 */
/*вторичный цвет  #434455 */
/*цвет текста футера  #F4F4FD */
/*секция Our Team   #F4F4FD */
/*футер #2E2F42 */
/*цвет кнопки  #404BBF */

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* HEADER */
/* НАВИГАЦИЯ */
.page-navigation a {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
}
.page-navigation a:active {
  color: #404bbf;
}
/* АДРЕСС */
.header-address {
  font-weight: 400;
  font-size: 16px;
}
.address-link {
  font-style: normal;
  color: #434455;
}
.address-link:active {
  color: #404bbf;
}
/* HERO */
.hero-title {
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  background-color: #2e2f42;
}
.section-title {
  font-weight: 500;
  font-size: 20px;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
}
.hero-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
/* FOOTER */
.page-footer {
  background-color: #2e2f42;
}
/* ЛОГОТИП */
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #2e2f42;
}
.header-logo:active {
  color: #2e2f42;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #ffffff;
}
.footer-logo:active {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #ffffff;
}
.logo-span {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #4d5ae5;
}
.logo-span:active {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #4d5ae5;
}
